@import url("https://fonts.googleapis.com/css?family=Roboto:100,400");
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Roboto';
  box-sizing: border-box; }
  * li {
    list-style: none; }

header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 90px;
  background: #305196;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75); }
  header .row {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    header .row .left-col {
      padding-top: 7px;
      margin-right: 12%; }
      header .row .left-col a img {
        width: 220px;
        height: width/2; }
    header .row .center-col {
      height: 100%; }
      header .row .center-col ul {
        height: 102%;
        overflow: hidden; }
        header .row .center-col ul li {
          transition: all linear .2s;
          display: inline-block;
          color: white;
          font-size: 1.4rem;
          cursor: pointer;
          height: 100%;
          margin: -2px;
          padding: 33px 15px 10px 15px; }
          header .row .center-col ul li:hover {
            background: #1e335f; }
          header .row .center-col ul li a {
            text-decoration: none;
            color: inherit; }
    header .row .right-col {
      margin-left: 15%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      header .row .right-col a:first-child {
        color: white;
        text-decoration: none;
        font-size: 1.4rem; }
        header .row .right-col a:first-child:hover {
          color: #dce0f0; }
      header .row .right-col a:last-child {
        color: black;
        text-decoration: none;
        padding: 5px 35px;
        border-radius: 5px;
        background: #ffee4f;
        font-size: 1.4rem; }
        header .row .right-col a:last-child:hover {
          background: #dbcd43; }

.countries-list {
  display: none;
  position: fixed;
  top: 90px;
  z-index: 5;
  box-shadow: inset 0px 10px 20px -5px rgba(0, 0, 0, 0.75);
  width: 100%;
  background: #325f96; }
  .countries-list div {
    width: inherit;
    padding: 0 5% 1% 5%; }
    .countries-list div ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap; }
      .countries-list div ul li {
        padding-bottom: 2%;
        width: 25%;
        font-size: 1.4rem; }
        .countries-list div ul li a {
          cursor: pointer;
          color: #b2caff;
          transition: color .25s linear;
          text-decoration: none; }
          .countries-list div ul li a:hover {
            color: #dce0f0; }
  .countries-list .close {
    color: white;
    cursor: pointer;
    font-size: 3rem;
    position: relative;
    right: -91%;
    top: 15px; }

.owl-carousel {
  margin-top: 90px; }

.owl-dots {
  position: absolute;
  bottom: 3%;
  left: 50%;
  margin: 0 auto;
  transform: translateX(-50%); }
  .owl-dots .owl-dot span {
    border-radius: 0 !important;
    width: 30px !important;
    height: 10px !important; }

.owl-nav .owl-prev, .owl-nav .owl-next {
  background: #eee;
  transition: all linear .1s;
  opacity: .9; }
  .owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
    background: #d7d7d7 !important;
    opacity: 1; }
.owl-nav .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0; }
.owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1f3976;
  padding-top: 30px;
  box-shadow: 0px 10px 28px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  bottom: 30px; }
  .form div:first-child h1 {
    color: #ffef4e;
    text-transform: uppercase; }
  .form div:last-child {
    height: 170px; }
    .form div:last-child input {
      width: 170px;
      position: relative;
      left: -40px;
      bottom: 130px;
      border-radius: 5px;
      border: #b2caff 1px solid;
      font-size: 1.2rem;
      background: #5e6e9c;
      color: #fff;
      padding: 10px 5px 10px 15px;
      outline: none;
      margin-right: 40px; }
      .form div:last-child input::placeholder {
        color: #fff; }
    .form div:last-child button {
      text-transform: uppercase;
      position: relative;
      left: -40px;
      bottom: 130px;
      border-radius: 5px;
      background: #ffef4e;
      width: 190px;
      height: 45px;
      font-size: 1.2rem;
      cursor: pointer; }
      .form div:last-child button:hover {
        background: #dbcd43; }

.services {
  padding-top: 30px;
  width: 100%; }
  .services h2 {
    font-size: 1.7rem;
    text-align: center;
    color: #203975;
    padding-bottom: 40px; }

.page-container {
  margin: 0 auto;
  width: 70%;
  height: 175px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .page-container #palm {
    border-radius: 10px 10px 0 0;
    transition: all ease 0.2s;
    cursor: pointer;
    padding: 15px 30px 50px 30px;
    position: relative; }
    .page-container #palm:hover {
      margin-top: 10px; }
    .page-container #palm .services-container {
      height: 100%; }
      .page-container #palm .services-container img {
        display: block;
        margin: 0 auto; }
      .page-container #palm .services-container h3 {
        padding-top: 10%;
        text-align: center;
        color: #1e335f; }
  .page-container #air {
    border-radius: 10px 10px 0 0;
    transition: all ease 0.2s;
    cursor: pointer;
    padding: 15px 30px 50px 30px;
    position: relative; }
    .page-container #air:hover {
      margin-top: 10px; }
    .page-container #air .services-container {
      height: 100%; }
      .page-container #air .services-container img {
        display: block;
        margin: 0 auto; }
      .page-container #air .services-container h3 {
        padding-top: 10%;
        text-align: center;
        color: #1e335f; }
  .page-container #train {
    border-radius: 10px 10px 0 0;
    transition: all ease 0.2s;
    cursor: pointer;
    padding: 15px 30px 50px 30px;
    position: relative; }
    .page-container #train:hover {
      margin-top: 10px; }
    .page-container #train .services-container {
      height: 100%; }
      .page-container #train .services-container img {
        display: block;
        margin: 0 auto; }
      .page-container #train .services-container h3 {
        padding-top: 10%;
        text-align: center;
        color: #1e335f; }
  .page-container #paper {
    border-radius: 10px 10px 0 0;
    transition: all ease 0.2s;
    cursor: pointer;
    padding: 35px 30px 50px 30px;
    position: relative; }
    .page-container #paper:hover {
      margin-top: 10px; }
    .page-container #paper .services-container {
      height: 100%; }
      .page-container #paper .services-container img {
        display: block;
        margin: 0 auto; }
      .page-container #paper .services-container h3 {
        padding-top: 10%;
        text-align: center;
        color: #1e335f; }
  .page-container #bag {
    border-radius: 10px 10px 0 0;
    transition: all ease 0.2s;
    cursor: pointer;
    padding: 15px 30px 50px 30px;
    position: relative; }
    .page-container #bag:hover {
      margin-top: 10px; }
    .page-container #bag .services-container {
      height: 100%; }
      .page-container #bag .services-container img {
        display: block;
        margin: 0 auto; }
      .page-container #bag .services-container h3 {
        padding-top: 10%;
        text-align: center;
        color: #1e335f; }

.tab-active {
  background: #e7f1fd;
  border-radius: 5px 5px 0 0; }

.wrapper {
  display: none;
  opacity: 0; }

.page-content-palm {
  padding: 70px 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #e7f0fd; }
  .page-content-palm .left {
    position: relative;
    width: 40%; }
    .page-content-palm .left h1 {
      color: #48578d;
      display: block;
      width: 100%;
      border-bottom: 1px solid #5e6e9c;
      padding: 0 0 10px 5%; }
    .page-content-palm .left p {
      padding: 20px 0 20px 20px;
      font-size: 1.2rem;
      font-weight: 100; }
    .page-content-palm .left ul {
      padding-left: 20px; }
      .page-content-palm .left ul li {
        font-weight: 100;
        font-size: 1.2rem; }
  .page-content-palm .right {
    display: block;
    width: 40%; }
    .page-content-palm .right img {
      margin: 0 auto;
      display: block;
      box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75); }

.page-content-air {
  padding: 70px 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #e7f0fd; }
  .page-content-air .right {
    width: 40%; }
    .page-content-air .right h1 {
      color: #48578d;
      display: block;
      width: 100%;
      border-bottom: 1px solid #5e6e9c;
      padding: 0 0 10px 5%; }
    .page-content-air .right p {
      padding: 20px 0 20px 20px;
      font-size: 1.2rem;
      font-weight: 100; }
    .page-content-air .right ul {
      padding-left: 20px; }
      .page-content-air .right ul li {
        font-weight: 100;
        font-size: 1.2rem; }
  .page-content-air .left {
    width: 40%; }
    .page-content-air .left img {
      margin: 0 auto;
      display: block;
      box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75); }

.page-content-train {
  padding: 70px 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #e7f0fd; }
  .page-content-train .left {
    width: 40%; }
    .page-content-train .left h1 {
      color: #48578d;
      display: block;
      width: 100%;
      border-bottom: 1px solid #5e6e9c;
      padding: 0 0 10px 5%; }
    .page-content-train .left p {
      padding: 20px 0 20px 20px;
      font-size: 1.2rem;
      font-weight: 100; }
    .page-content-train .left ul {
      padding-left: 20px; }
      .page-content-train .left ul li {
        font-weight: 100;
        font-size: 1.2rem; }
  .page-content-train .right {
    width: 40%; }
    .page-content-train .right img {
      margin: 0 auto;
      display: block;
      box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75); }

.page-content-paper {
  padding: 70px 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #e7f0fd; }
  .page-content-paper .right {
    width: 40%; }
    .page-content-paper .right h1 {
      color: #48578d;
      display: block;
      width: 100%;
      border-bottom: 1px solid #5e6e9c;
      padding: 0 0 10px 5%; }
    .page-content-paper .right p {
      padding: 20px 0 20px 20px;
      font-size: 1.2rem;
      font-weight: 100; }
    .page-content-paper .right ul {
      padding-left: 20px; }
      .page-content-paper .right ul li {
        font-weight: 100;
        font-size: 1.2rem; }
  .page-content-paper .left {
    width: 40%; }
    .page-content-paper .left img {
      margin: 0 auto;
      display: block;
      box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75); }

.page-content-bag {
  padding: 70px 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #e7f0fd; }
  .page-content-bag .left {
    width: 40%; }
    .page-content-bag .left h1 {
      color: #48578d;
      display: block;
      width: 100%;
      border-bottom: 1px solid #5e6e9c;
      padding: 0 0 10px 5%; }
    .page-content-bag .left p {
      padding: 20px 0 20px 20px;
      font-size: 1.2rem;
      font-weight: 100; }
    .page-content-bag .left ul {
      padding-left: 20px; }
      .page-content-bag .left ul li {
        font-weight: 100;
        font-size: 1.2rem; }
  .page-content-bag .right {
    width: 40%; }
    .page-content-bag .right img {
      margin: 0 auto;
      display: block;
      box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75); }

.info {
  width: 100%; }
  .info h1 {
    padding: 30px 0;
    text-align: center;
    color: #1e335f; }
  .info p {
    color: #333;
    text-align: center;
    font-size: 18px; }
  .info a {
    margin: 20px auto;
    display: block;
    width: 180px;
    height: 45px;
    color: #333;
    font-size: 20px;
    background: #ffef4d;
    transition: all linear .2s;
    text-decoration: none;
    padding: 10px 60px !important;
    border-radius: 5px; }
    .info a:hover {
      background: #dbcd43; }

.reviews {
  width: 100%;
  background: url("../img/blur-bg.jpg") center center no-repeat;
  background-size: cover; }
  .reviews h1 {
    padding-top: 80px;
    color: #1e335f;
    text-align: center; }

.owl-carousel-review {
  z-index: 0; }

.reviews .review-owl-carousel {
  margin: 0 auto;
  width: 1040px;
  overflow: hidden; }
  .reviews .review-owl-carousel .owl-prev {
    position: absolute;
    left: -4px;
    transform: translateY(-50%); }
  .reviews .review-owl-carousel .owl-next {
    position: absolute;
    right: -3px;
    transform: translateY(-50%); }
  .reviews .review-owl-carousel .review-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 50px 0; }
    .reviews .review-owl-carousel .review-row .left-bl {
      z-index: 1;
      background: url("../img/IMG_6650.jpg") center center no-repeat;
      background-size: cover;
      width: 300px;
      height: 300px;
      border-radius: 15px;
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75); }
    .reviews .review-owl-carousel .review-row .right-bl {
      width: 60%;
      height: 200px;
      background: white;
      border-radius: 0 15px 15px 0;
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
      position: relative;
      top: 50px;
      padding: 25px 20px; }
      .reviews .review-owl-carousel .review-row .right-bl p {
        font-size: 1.2rem;
        font-weight: 300; }
      .reviews .review-owl-carousel .review-row .right-bl h2 {
        padding-top: 10px;
        color: #1e335f;
        text-align: center; }
      .reviews .review-owl-carousel .review-row .right-bl h3 {
        padding-top: 10px;
        color: #6e6e6e;
        text-align: center;
        font-style: italic;
        font-weight: 300; }
  .reviews .review-owl-carousel .second-review-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 50px 10px;
    width: 800px;
    margin: 0 auto; }
    .reviews .review-owl-carousel .second-review-row .left-bl {
      z-index: 1;
      background: url("../img/IMG_6649.jpg") center center no-repeat;
      background-size: cover;
      width: 300px;
      height: 300px;
      border-radius: 15px;
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
      position: relative;
      left: 500px;
      bottom: 20px; }
    .reviews .review-owl-carousel .second-review-row .right-bl {
      width: 60%;
      height: 300px;
      background: white;
      border-radius: 15px 0 15px 15px;
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
      position: relative;
      top: 15px;
      right: 250px;
      padding: 25px 20px; }
      .reviews .review-owl-carousel .second-review-row .right-bl p {
        font-size: 1.2rem;
        font-weight: 300; }
      .reviews .review-owl-carousel .second-review-row .right-bl h2 {
        padding-top: 10px;
        color: #1e335f;
        text-align: center; }
      .reviews .review-owl-carousel .second-review-row .right-bl h3 {
        padding-top: 10px;
        color: #6e6e6e;
        text-align: center;
        font-style: italic;
        font-weight: 300; }
  .reviews .review-owl-carousel .third-review-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 50px 0;
    margin: 0 auto; }
    .reviews .review-owl-carousel .third-review-row .left-bl {
      z-index: 1;
      background: url("../img/IMG_6652.jpg") center center no-repeat;
      background-size: cover;
      width: 300px;
      height: 300px;
      border-radius: 15px;
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
      position: relative;
      top: 25px; }
    .reviews .review-owl-carousel .third-review-row .right-bl {
      max-width: 60%;
      height: 250px;
      background: white;
      border-radius: 0 15px 15px 0;
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
      position: relative;
      top: 50px;
      padding: 25px 20px; }
      .reviews .review-owl-carousel .third-review-row .right-bl p {
        font-size: 1.2rem;
        font-weight: 300; }
      .reviews .review-owl-carousel .third-review-row .right-bl h2 {
        padding-top: 10px;
        color: #1e335f;
        text-align: center; }
      .reviews .review-owl-carousel .third-review-row .right-bl h3 {
        padding-top: 10px;
        color: #6e6e6e;
        text-align: center;
        font-style: italic;
        font-weight: 300; }
  .reviews .review-owl-carousel .owl-dots {
    display: none; }

.map {
  width: 100%;
  height: 550px;
  background: url("../img/map2.jpg") center center no-repeat;
  background-size: cover; }
  .map .contacts {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 350px;
    position: relative;
    top: 100px;
    left: 100px;
    background: white;
    border-radius: 5px;
    z-index: 1;
    padding: 10px; }
    .map .contacts h2 {
      text-transform: uppercase;
      text-align: center;
      color: #1f3976;
      font-size: 28px;
      padding-bottom: 10px; }
    .map .contacts div {
      padding-left: 40px;
      font-size: 20px;
      padding-bottom: 20px; }
      .map .contacts div:before {
        width: 30px;
        height: 30px;
        content: ' ';
        background: url("../img/marker.png") center center no-repeat;
        background-size: contain;
        position: absolute;
        top: 16%;
        left: 2%; }
    .map .contacts a {
      font-weight: 400;
      font-size: 1.25rem;
      color: #3379b7;
      display: block;
      width: 100%;
      text-decoration: none;
      padding: 0 0 12px 40px; }
      .map .contacts a:hover {
        color: #3379b7;
        text-decoration: underline; }
    .map .contacts .tel:before {
      width: 30px;
      height: 30px;
      content: '';
      background: url("../img/tel.png") center center no-repeat;
      background-size: contain;
      position: absolute;
      top: 33%;
      left: 2%; }
    .map .contacts .wtsp:before {
      width: 30px;
      height: 30px;
      content: '';
      background: url("../img/whats.png") center center no-repeat;
      background-size: contain;
      position: absolute;
      top: 44%;
      left: 2%; }
    .map .contacts .mail:before {
      width: 30px;
      height: 30px;
      content: '';
      background: url("../img/email.png") center center no-repeat;
      background-size: contain;
      position: absolute;
      top: 54%;
      left: 2%; }
    .map .contacts .skype:before {
      width: 30px;
      height: 30px;
      content: '';
      background: url("../img/skype.png") center center no-repeat;
      background-size: contain;
      position: absolute;
      top: 64%;
      left: 2%; }
    .map .contacts .inst:before {
      width: 30px;
      height: 30px;
      content: '';
      background: url("../img/inst.png") center center no-repeat;
      background-size: contain;
      position: absolute;
      top: 74%;
      left: 2%; }
    .map .contacts .main-link:before {
      width: 30px;
      height: 30px;
      content: '';
      background: url("../img/web.png") center center no-repeat;
      background-size: contain;
      position: absolute;
      top: 85%;
      left: 2%; }

footer {
  background: #1a3978;
  padding: 20px 0 20px 10%; }
  footer div p {
    color: white;
    padding: 5px; }

.main-block-text {
  background: url("../img/blur-bg.jpg") center center no;
  background-size: cover; }

/*# sourceMappingURL=style.css.map */
